:root{
    --white: #EEE8E2;
    --green: #27846e;
    --black: #63473d;
    --space-small: 2rem;
    --space-medium: 3rem;
    --space-large: 5rem;
    --h1-title-size: 4.8rem;
    --h2-title-size: 3.6rem;
    --h3-title-size: 2.4rem;
    --h4-title-size: 1.8rem;
    --p-title-size: 1.2rem;
    --side-space: 5%;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}


body{
    overflow-x: hidden !important;
    overflow: overlay;
    background-color: var(--white);
  }

h1{
    color: var(--green);
    font-size: 4.8rem;
}

#title{
    margin-top: var(--space-medium);
    margin-bottom: var(--space-small);
}

h2{
    color: var(--black);
    font-size: 3.6rem;
    margin-bottom: var(--space-small);
}

h3{
    color: var(--black);
    font-size: 2.4rem;
}

h4{
    color: var(--black);
    font-size: 2.4rem;
}

p{
    color: var(--black);
    font-size: 2.0rem;
}

section{
    display: block;
}

.about,
.skills,
footer{
    margin-top: var(--space-large);
}


header,
section,
footer{
    padding: 0rem 2rem;
}
