header{
    width: 100%;
}

.logo{
    padding-top: 1.5rem;
    width: auto;
    height: 50px;
    
}

.menu{
    float: right;
    padding: 2.5rem 0  0;
    text-align: right;
}

#header-grid{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr ;
    grid-template-areas: '.logo' '.menu';
}