
.hero-pic{
    max-width: 40.2rem;
    width: 30rem;
    object-fit: cover;
    object-position: 100% -75px;
}
.hero-title{
    padding-top: 10rem;
    width: 3%
}

.hero-parent{
   border: 2px solid red;
}

.swiper-wrapper{
    width: 50%;
}

span.motto{
    color: var(--black);
    font-size: 2.4rem;
    display: inline-block;
    width: 30rem;
}

.hero-pic,
.hero-name{
    margin-top: var(--space-small);
}

.hero-name{
    margin-bottom: var(--space-small);
}
.parent{
    display: flex;
    width: 50%;
}
.arrow{
    font-size: 9.0rem;
    margin-right: 70%;
    color: var(--green);
    
}